body{
    /* background-color: #ebebeb; */
    font-family: -apple-system;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  }
  .chat-sender{
    clear:both;
    font-size: 80%;
  }
  .chat-sender div:nth-of-type(1){
    float: left;
  }
  .chat-sender div:nth-of-type(2){
    margin: 0 50px 2px 50px;
    padding: 0px;
    color: #848484;
    font-size: 70%;
    text-align: left;
    margin-bottom: 6px;
  }
  
  .chat-sender div:nth-of-type(3){
    background-color: white;
    /*float: left;*/
    margin: 0 50px 10px 50px;
    padding: 6px 10px;
    border-radius:7px;
    text-indent: -12px;
  }

  .chat-receiver{
    clear:both;
    font-size: 80%;
    margin-bottom: 8px;
  }
  .chat-receiver div:nth-of-type(1){
    float: right;
  }
  .chat-receiver div:nth-of-type(2){
    margin: 0px 50px 2px 50px;
    padding: 0px;
    color: #848484;
    font-size: 70%;
    text-align: right;
    margin-bottom: 6px;
  }
  .chat-receiver div:nth-of-type(3){
    /*float:right;*/
    background-color: #b2e281;
    margin: 0px 50px 10px 50px;
    padding: 6px 10px;
    border-radius:7px;
  }

  .chat-receiver div:first-child img,
  .chat-sender div:first-child img{
    width: 40px;
    height: 40px;
    /*border-radius: 10%;*/
  }

  .chat-left_triangle{
    height: 0px;
    width: 0px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    position: relative;
    left: -22px;
    top: 3px;
  }
  .chat-right_triangle{
    height: 0px;
    width: 0px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #b2e281;
    position: relative;
    right:-22px;
    top:3px;
  }

  .chat-notice{
    clear: both;
    font-size: 70%;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .chat-notice span{
    background-color: #cecece;
    line-height: 25px;
    border-radius: 5px;
    padding: 5px 10px;
  }
	#chat-img{
		background: transparent;
		
	}
	#chat-img img{
		width: 120px;
		height: 120px;
		margin-bottom: 15px;
	}